<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
        <title>startled!</title>
        <!-- Specifing js and css-->
        <script type="text/javascript" src="/static/js/index.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    </head>
    <body>
        <h1>Controls:</h1>
        <button id="on">on</button>
        <button id="off">off</button>
        <button id="rainbow">rainbow</button>
    </body>
</html>
